<html lang="en">
  <head>
    <%- include('../partials/_header') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h2>
              The Results.....
            </h2>
            <p>
              Based on the key <b><%= id %></b>. The program found this link <b><%= url %></b>
            </p>
            <p>
              <a href="<%= url %>" target="_blank">Visit Site</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/_footer') %>


    
  </body>
</html>