<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_header') %>
    <link href="/styles/edit.css" rel="stylesheet" type="text/css">
    <title>TinyApp | Edit URL</title>

</head>

<body>

  <div class="row">

    <div class="main-wrapper ">

      <div class="row">

        <div class="section-wrapper">

          <div class="nav-wrapper">
            <%- include('../partials/_nav') %>

          </div>

          <main>

            <div class="form-content">

              <div class="form-items">

                <div class="form-title">
                  <h3>Logged in as <%= username %>
                  </h3>
                </div>

                <!-- GOT HELP: https://getbootstrap.com/docs/5.0/forms/validation/ -->
                <form class="requires-validation" action="/urls/<%= urls.id %>/edit" method="POST">

                  <div class="col-md-12 mt-3">
                    <label>Short URL:</label>
                    <div class="col-md-12 mt-3">
                      <input type="text" readonly class="form-control-plaintext" id="shortURL"
                        value="<%= urls.shortURL %>">
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <label>Long URL:</label>
                    <div class="col-md-12 mt-3">
                      <input class="form-control" type="text" value="<%=  urls.longURL %>" name="enteredURL" required>
                    </div>
                  </div>

                  <div class="form-button mt-3 d-grid col-6 mx-auto">
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>

              </div>
            </div>
            <%- include('../partials/_footer') %>

        </div>
      </div>
    </div>

  </div>



</body>

</html>